input::placeholder {
  color: #aaa;
   transition: color 0.3s ease;
}

input:focus::placeholder {
  color: transparent;
}

/* Generelle stilarter */
html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  background-color: #f4f4f4;
  color: #333;
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400; 
    font-style: normal; 
  padding: 9px;
  text-align: center;
  background: linear-gradient(45deg, rgba(4, 5, 29, 0.96) 0%, #2b566e 90%);
  left: 0;
  right: 0;
  bottom: 0;
  color: #e8e8e8;
  content: "\2024"; 
}

header {
  background: linear-gradient(45deg, rgba(4, 5, 29, 0.96) 0%, #2b566e 90%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 1px; 
}

header img {
  max-height:  60px;
  max-width:  100%;
}

.button-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button-container-feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:  100%; 
}

h1 {
  margin: auto;
}

h3 {
  position: relative;
  margin: -28px 0 0 -5px;
  width: 250px;
  
}

.theme-toggle,
.login-button {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.theme-toggle i {
  transition: transform 0.3s ease-in-out; 
}

.theme-toggle.dark-theme i {
  transform: rotate(180deg); 
}

.theme-toggle:hover,
.login-button:hover {
  background-color: #4C6885;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 30px auto 60px; 
  background: #011f40;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  background-color: #011f40;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
  color: #003366;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #003366;
  border-radius: 4px;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

button {
  background-color: #003366;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

button:hover {
  background-color: #001f3f;
}

footer p {
  margin: 0;
}

body.dark-theme {
  background-image: url('../images/Dark-Mode.jpg');
  background-color: #333;
  color: #fff;
  backdrop-filter: blur(1.5px); 
}

body.dark-theme .container {
  background-color: #fff; 
}

body.dark-theme main {
  background: #fff;
}

header.dark-theme {
  background-color: #111;
}

body.dark-theme h1 {
  color: #252525; 
}

main.dark-theme {
  background-color: #222;
  background: #fff;
}

body.light-theme {
  background-image: url('../images/Light-Mode.jpg');
  background-color: #f4f4f4;
  color: #fff;
  backdrop-filter: blur(1.5px); 
}

body.light-theme label {
  color: #fff; 
}

header.light-theme {
  background-color: #eee;
}

main.light-theme {
  background-color: #fff;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #003366;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-message {
  display: block;
  margin-bottom: 15px;
  color: #003366;
  font-weight: bold;
}

button {
  background-color: #003366;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #001f3f;
}

#contactCheckboxContainer {
    flex-direction: column;
    align-items: flex-start;
  }

#contactCheckboxContainer label {
  white-space: nowrap;
  overflow-wrap: break-word;
  display: flex;
  align-items: center; 
  margin-right: 0px;
  color: #003366;
}

#contactCheckboxContainer input[type="checkbox"]
{
  margin-bottom: 20px;
  position: relative; 
  right: 235px;
  top: -25px;
}

#acceptCheckbox {
  position: relative;
  right: 150px;
  top: 10px;
}



@media only screen and (max-width: 600px) {
  /* Ensure checkboxes are properly aligned */
  #contactCheckboxContainer {
    flex-direction: column;
    align-items: flex-start;
  }
#contactCheckboxContainer input[type="checkbox"]
{
  margin-bottom: 20px;
  position: relative; 
  right: 0px;
}


  /* Adjust margin for the accept checkbox */
  #acceptCheckbox {
    margin-top: 10px;
	right: -250px;
  }

  /* Ensure labels don't overlap with checkboxes */
  label {
    margin-bottom: 10px;
	margin-right: 10px;
	width: auto;
  }
}


#loginPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #003366;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

#loginPopup .close-button {
  position: absolute;
  top: -10px;
  right: 15px;
  font-size: 24px;
  color: #ba2121;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

#loginPopup label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  color: #003366;
}

#loginPopup input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #003366;
  border-radius: 4px;
}

#loginPopup button {
  background-color: #003366;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}

.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: #999;
}

@media only screen and (max-width: 600px) {
  /* Adjustments for smaller screens */
  body {
    font-size: 15px; /* Adjust font size for better readability */
	position: relative; /* Set position to relative */
  }
  
  main {
    padding: 15px; /* Decrease padding for content */
    border-radius: 3; /* Remove border radius */
    max-width: 90%; /* Make sure the main content doesn't exceed the screen width */
    box-sizing: border-box; /* Include padding in the width calculation */
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .button-container {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center align buttons */
    gap: 10px; /* Add some spacing between buttons */
  }
  
  .theme-toggle {
	   display: none;
  }

  .login-button {
    font-size: 18px; /* Reduce font size of login button */
    padding: 8px 16px; /* Adjust padding for login button */
    margin-top: 10px; /* Adjust vertical alignment */
  }
  
  header img {
    max-height: 40px; /* Decrease logo size */
  }
  
  header {
    width: 100%; /* Full width */
    height: 60px;
    padding: 0 15px; /* Add padding to accommodate content */
  }
  
  footer {
    display: none; /* Hide the footer */
  }
  
  #contactCheckboxContainer input[type="checkbox"] {
    position: static; /* Reset position */
    margin-bottom: 10px; /* Adjust margin */
    right: 0; /* Reset right position */
  }
  
  #acceptCheckbox {
    margin-top: 10px; /* Adjust margin */
    left: 0; /* Reset left position */
    top: 38px;
  }
  
  label {
    margin-bottom: 5px; /* Decrease margin */
    margin-right: 0; /* Reset margin */
    width: auto; /* Allow label to wrap */
  }
}


.terms-of-service {
  text-decoration: underline;
  cursor: pointer;
}

.terms-of-service:hover {
  color: #0000B2; 
}
